.dropdown-divider {
    border-top-color: #dadada;
}

.dropdown-menu {
    font-size: 12px;
    padding: 0.2rem 0;
    min-width: auto;
    border-color: #c3c3c3;
}
.dropdown-menu:hover>.dropdown-submenu {
    display: block;
}

.dropdown-menu.level1 {
	display: block;
	position: static;
	margin-top: 3px;
	padding-top: 0px;
}
.dropdown-menu.level1.corner {
    -webkit-border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
    border-left-style: none;
    border-top-style: none;
	padding-top: 3px;
    margin-top: 0;
}

.dropdown-menu > li > a {
    color: inherit;
    background-color: white;
    display: block;
    padding: 0.0rem 1.5rem 0.0rem 0.6rem;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover {
    color: #00A0D6;
    background-color: gainsboro;
}
.dropdown-menu > form {
    padding: 6px 12px 10px 12px;
}

.dropdown-menu > hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-menu label:hover {
    color: #00a4db;
    cursor: pointer;
}

.dropdown-menu .dropdown-item {
    Xpadding: 0px 10px 0px 8px;
    padding: 0px 24px 0px 8px;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #eaeaea;
}

/*.dropdown-menu.form-check-label{*/
.form-check-label {
    margin-bottom: -2px;
}

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    left: 100%;
    margin-top: -22px;
    margin-left: -1px;
}
.dropdown-menu.settings {
	width: 380px;
	margin-top: -27px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu.attr-mandatory > a       { background-color: #00ce1099; /* green */ }
.dropdown-submenu.attr-mandatory > a:hover { background-color: #00ce1099; /* green */ }

.dropdown-submenu.attr-tacit > a       { background-color: #00ce104a; /* light green */ }
.dropdown-submenu.attr-tacit > a:hover { background-color: #00ce104a; /* light green */ }

.dropdown-submenu.attr-optional > a       { background-color: #ffd400b8; /* yellow */ }
.dropdown-submenu.attr-optional > a:hover { background-color: #ffd400b8; /* yellow */ }

.dropdown-submenu.attr-nil > a       { background-color: #ff9272; /* red */ }
.dropdown-submenu.attr-nil > a:hover { background-color: #ff9272; /* red */ }

.dropdown-submenu.attr-ref > a       { background-color: #00baf01a; /* light blue */ }
.dropdown-submenu.attr-ref > a:hover { background-color: #00baf01a; /* light blue */ }

.dropdown-submenu.attr-refNs > a       { background-color: #01b1e840; /* blue*/ }
.dropdown-submenu.attr-refNs > a:hover { background-color: #01b1e840; /* blue*/ }

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #a9a9a9;
    margin-top: 5px;
    margin-right: -18px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #00A0D6;
}
.dropdown-submenu.pull-left {
    float: none;
}
