.tableData {
    width: auto;
    background-color: white;
    font-size: 11px;
    border-left-color: #9c9c9c;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-color: #9c9c9c;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}


.tableData thead td.header {
    padding: 0px;

    border-right-style: solid;
    border-right-color: #ababab;
    border-right-width: 1px;

    border-bottom-style: solid;
    border-bottom-color: #ababab;
    border-bottom-width: 1px;
    vertical-align: top;

    font-weight: bold;
}
.tableData thead .open-close:hover {
    color: #00a4db;
    text-decoration: none;
}
.tableData thead tr:nth-child(1) td.header  {
    font-weight: normal;
    font-style: italic;
    padding: 2px 6px 2px 6px;
}
.tableData thead tr:nth-child(3) td.header  {
    border-bottom-color: #777;
}
.tableData thead td span.expr {
    padding-left: 6px;
    font-weight: bold;
    font-style: italic;
    color: #f09600;
    white-space: nowrap;
}
.tableData thead td span.postfix {
    padding-left: 1px;
    font-weight: normal;
    font-style: italic;
    color: #888;
}
.tableData thead td.input {
    padding: 1px 5px 1px 5px;
    font-family: "Menlo", "Courier";
    font-size: 11px;
    color: black;
    font-weight: normal;
}


.tableData tBody td {
    padding: 1px 6px 1px 6px;
    vertical-align: top;

    border-right-style: solid;
    border-right-color: #ababab;
    border-right-width: 1px;
}


.tableData tBody td:nth-child(1) {
    width: 20px;
    cursor: default;
}
/* Entity id icons */
.tableData tBody td i {
    cursor: pointer;
}
.tableData tBody td i.retractEntity {
    font-size: 8px;
    color: #aaa;
    float: left;
    margin-top: 3px;
    padding-right: 4px;
    cursor: pointer;
}
.tableData tBody td i.retractEntity:hover {
    color: red;
}

.tableData tBody td.eid {
    text-align: right;
    color: #2b7dbe;
    cursor: default;
    white-space: nowrap;
    display: table-cell;
}
.tableData tBody td.eid span {
    display: flex;
}
.tableData tBody td.eidChosen {
    text-align: right;
    background-color: #3cb7ff4f;
    color: #2400ff;
    cursor: default;
    white-space: nowrap;
    display: table-cell;
}
.tableData tBody td.eidChosen span {
    display: flex;
}

.tableData tBody td.tx {
    text-align: right;
    color: #a54ffa;
    cursor: default;
}
.tableData tBody td.txChosen {
    text-align: right;
    background-color: #173eff2e;
    color: #881cc5;
    cursor: default;
}

.tableData tBody td.num {
    text-align: right;
    color: #49a523;
}

.tableData tBody td.assert {
    border-left: 3px solid #00dc00;
}
.tableData tBody td.update {
    border-left: 3px solid #ffad34;
}
.tableData tBody td.retract {
    border-left: 3px solid #ff0e0e;
}
/* Index column always right-aligned */
.tableData tbody td:nth-child(1) {
    text-align: right;
}

.tableData tbody tr.view:nth-child(even) {
    background: #f2f2f2;
}
.tableData tbody tr.view:hover {
    background: #ffcc3c6b;
}
.tableData tbody tr.edit {
    background: #c6ffb4;
}

.tableData tbody td.items ul {
    list-style-type: disc;
    padding-inline-start: 15px;
    margin-bottom: 0;
    /* cursor: pointer; */
}
.tableData tbody td.num ul{
    color: #49a523;
    text-align: right
}
.tableData tbody td.date ul{
    color: orange;
}
.tableData tbody ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}
.tableData tbody li.eid {
    color: #2b7dbe;
    cursor: pointer;
}
.tableData tbody li.eidChosen {
    color: #2400ff;
    background-color: #3cb7ff4f;
    cursor: pointer;
}


/* Nested border markings by priority */

.tableData tbody tr .prio5 {
    border-top-style: solid;
    border-top-color: #ababab;
    border-top-width: 1px;
}
.tableData tbody tr .prio4 {
    border-top-style: solid;
    border-top-color: #000;
    border-top-width: 1px;
}
.tableData tbody tr .prio3 {
    border-top-style: solid;
    border-top-color: #d10000;
    border-top-width: 1px;
}
.tableData tbody tr .prio2 {
    border-top-style: solid;
    border-top-color: #fa9800;
    border-top-width: 3px;
}
.tableData tbody tr .prio1 {
    border-top-style: solid;
    border-top-color: #ff3d3d;
    border-top-width: 3px;
}




.tableData tfoot td {
    padding: 2px 6px 2px 6px;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ababab;

    border-right-style: solid;
    border-right-color: #ababab;
    border-right-width: 1px;
}


table.mapPairs tr:nth-child(even) {
    background-color: initial;
}
table.mapPairs td:nth-child(1) {
    text-align: left;
}
table.mapPairs td {
    vertical-align: top;
    padding: 0 4px 0 0;
    border: none;
    text-align: left;
}